<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Отворени позиции</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    
     <!-- Добавено: Favicon -->
     <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23234659'><path d='M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z'/></svg>" type="image/svg+xml" />
   

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Експо2000, София, България</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+359 87 123 4567</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>wave@financial.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="index.html" class="navbar-brand p-0">
                <h1 class="m-0">
                    <!-- Bank Icon SVG -->
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#ffffff">
                        <path d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z"/>
                    </svg> 
                    Wave Financial
                </h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="indexBG.html" class="nav-item nav-link">Начало</a>
                    <a href="aboutBG.html" class="nav-item nav-link">За нас</a>
                    <a href="serviceBG.html" class="nav-item nav-link">Продукти и Услуги</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Кариери</a>
                        <div class="dropdown-menu m-0">
                            <a href="openPositionsBG.html" class="dropdown-item">Отворени позиции</a>
                            <a href="application-processBG.html" class="dropdown-item">Процес на кандидатстване</a>
                            <a href="benefitsBG.html" class="dropdown-item">Нашите предимства</a>
                        </div>
                    </div>
                    <a href="contactBG.html" class="nav-item nav-link">Контакти</a>
                    <a href="registerBG.html" class="nav-item nav-link">Стани Клиент</a>
                </div>
                <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="/loginBG.html" class="btn btn-primary py-2 px-4 ms-3">Вход</a>
                <a href="" class="btn btn-primary py-2 px-4 ms-3">Изход</a>
                <a href="/openPositions.html" class="btn btn-primary py-2 px-4 ms-3">EN</a>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Отворени позиции</h1>
                    <a href="" class="h5 text-white">Начало</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="" class="h5 text-white">Отворени позиции</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Blog list Start -->
                <div class="col-lg-8">
                    <div class="row g-5">
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Инженер по автоматизация</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>

                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>
                                    <p>Търсите ли нова възможност като опитен инженер по QA автоматизация? Wave Financial търси талантливи професионалисти, които да гарантират 
                                        най-високото качество на нашите финансови решения. Присъединете се към нашия екип и допринесете за иновативни проекти във финансовия сектор. 
                                        
Предлагаме стимулираща среда за успешна работа.





</p>                                 
                                           <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Системен администратор</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>

                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>
                                    <p>Търсите ли вълнуваща възможност като опитен системен администратор? Wave Financial търси талантливи професионалисти, 
                                        които да ни помогнат да поддържаме и развиваме нашата ИТ инфраструктура.
                                         Присъединете се към нашия екип и допринесете за безпроблемното функциониране на иновативни финансови решения. 
                                         </p>                             
                                                <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Администратор на приложения</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial
                                    </h4>
                                    <p>Търсите ли вълнуваща възможност като опитен администратор на приложения? Wave Financial търси талантливи професионалисти за управление и оптимизация на нашите системи за приложения. Присъединете се към нашия екип и помогнете за безпроблемното функциониране на иновативни финансови решения. Предлагаме колаборативна работна среда, насочена към успешното постигане на целите.</p>                                    
                                    
                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Инженер по сигурността на приложенията</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>
                                  
                                  <p>
                                    Заинтересовани ли сте от възможността да се присъедините като опитен инженер по сигурност на приложения? Wave Financial търси опитни професионалисти за защита на нашите системи за приложения. Присъединете се към нашия екип и гарантирайте сигурността и непрекъснатостта на иновативните финансови решения. Предлагаме вдъхновяваща работна обстановка, насочена към постигане на успех.</p>
                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Fullstack разработчик (Angular & Java)</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>
                                    
                                    <p>Вие ли сте опитен Fullstack разработчик с експертиза в Angular и Java, който търси вълнуваща възможност? Wave Financial търси талантливи професионалисти за разработка и поддръжка на нашите водещи финансови решения. Присъединете се към нашия екип и допринесете за създаването на иновативни финансови продукти. Предлагаме колаборативна среда за успешно постигане на целите.</p>
                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Старши инженер по облачни технологии</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>
                                    <p>Вие ли сте опитен старши инженер по облачни технологии и DevOps, който търси вълнуваща възможност? Wave Financial търси талантливи професионалисти за оптимизиране на нашата облачна инфраструктура и оптимизиране на процесите в областта на DevOps. Присъединете се към нашия екип и бъдете двигател на иновациите в нашите финансови решения. </p>
                                    
                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">
                                        Специалист по картографиране на данни</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>
                                   
                                    <p>
                                        Търсите ли възможност като опитен специалист по картографиране на данни? Wave Financial търси талантливи професионалисти за картографиране и управление на данните в нашите финансови системи. Присъединете се към нашия екип и осигурете точността и цялостността на нашите процеси за данни. Предлагаме колаборативна среда за успех.</p>
                                   
                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Мениджър на качеството на решенията</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>
                                    
                                <p>Търсите ли възможност като опитен мениджър на QA решения? Wave Financial търси талантливи професионалисти да водят и подобряват процесите за осигуряване на качество в различни решения. Присъединете се към нашия екип и гарантирайте най-високите стандарти на качество в нашите иновативни финансови продукти. </p>
                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Професионалист в продажбите</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>

                                    <p>Търсите ли възможност като опитен продажбен професионалист? Wave Financial търси талантливи специалисти, които да ускорят нашите продажбени усилия и разширят клиентската база. Присъединете се към нашия екип и допринесете за растежа и успеха на нашите иновативни финансови решения. Предлагаме колаборативна среда за успешна работа.</p>

                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Счетоводител</a>
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="fas fa-map-marker-alt text-primary me-2"></i>София</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>26 Юли 2024</small>
                                    </div>
                                    <h4 class="mb-3">Присъединете се към екипа на Wave Financial</h4>

                                    <p>Търсите ли възможност като опитен финансов счетоводител? Wave Financial търси талантливи професионалисти за управление и анализ на нашите финансови операции. Присъединете се към нашия екип и допринесете за финансовото здраве и успеха на нашите иновативни решения. Предлагаме колаборативна среда за успешна работа.</p>

                                    <a class="text-uppercase" href="">Кандидатствайте сега <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
                            <nav aria-label="Page navigation">
                              <ul class="pagination pagination-lg m-0">
                                <li class="page-item disabled">
                                  <a class="page-link rounded-0" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                                  </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link rounded-0" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    -->
                    </div>
                </div>
                <!-- Blog list End -->
    
                
                <!-- Sidebar Start -->
                 
                <div class="col-lg-4">
                    <!-- Search Form Start -->
                      <!--
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="input-group">
                            <input type="text" class="form-control p-3" placeholder="Keyword">
                            <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                -->
                    <!-- Search Form End -->
                    
                    <!-- Category Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Категории</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Финансово планиране</a>
                            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Оценка на риска</a>
                            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Уеб разработка</a>
                            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Обслужване на клиенти</a>
                            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Услуги по кредити</a>
                        </div>
                    </div>
                    <!-- Category End -->
    
                    <!-- Recent Post Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Последни публикация</h3>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">Главни стратегии за ефективно финансово планиране
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                                Как да максимизирате доходността от инвестициите
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">Разбиране на управлението на риска в банкирането
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">Съответствие с регулациите: Най-добри практики за финансовите институции
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">Подобряване на обслужването на клиенти в цифровото банкиране
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                                Иновативни услуги за заеми за клиенти
                       
                            </a>
                        </div>
                    </div>
                    <!-- Recent Post End -->
    
                    <!-- Image Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <img src="img/blog-1.jpg" alt="" class="img-fluid rounded">
                    </div>
                    <!-- Image End -->
    
                    <!-- Tags Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Облак от тагове</h3>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="#" class="btn btn-light m-1">Финансово планиране</a>
                            <a href="#" class="btn btn-light m-1">Инвестиции</a>
                            <a href="#" class="btn btn-light m-1">Управление на риска</a>
                            <a href="#" class="btn btn-light m-1">Съответствие с регулации</a>
                            <a href="#" class="btn btn-light m-1">Цифрово банкиране</a>
                            <a href="#" class="btn btn-light m-1">Обслужване на клиенти</a>
                            <a href="#" class="btn btn-light m-1">Заеми</a>
                            <a href="#" class="btn btn-light m-1">Управление на богатството</a>
                            <a href="#" class="btn btn-light m-1">Спестявания</a>
                            <a href="#" class="btn btn-light m-1">Кредит</a>
                            <a href="#" class="btn btn-light m-1">Финансови съвети</a>
                            <a href="#" class="btn btn-light m-1">Онлайн банкиране</a>
                            
                        </div>
                    </div>
                    <!-- Tags End -->
    
                    <!-- Plain Text Start -->
                    <div class="wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Нашето задължение към вас</h3>
                        </div>
                        <div class="bg-light text-center" style="padding: 30px;">
                            <p>В Wave Financial се стремим да предлагаме изключителни финансови решения, персонализирани според вашите уникални нужди. Нашите експерти са тук, за да ви подкрепят на всеки етап от пътя, гарантирайки вашето финансово успех и увереност.</p>
                            <a href="#" class="btn btn-primary py-2 px-4">Прочети повече</a>
                        </div>
                        
                    </div>
                    <!-- Plain Text End -->
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->


   
    

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                        <a href="index.html" class="navbar-brand">
                            <h1 class="m-0 text-white">
                                <!-- Bank Icon SVG -->
                                <svg xmlns="http://www.w3.org/2000/svg" height=30px" viewBox="0 -960 960 960" width="50px" fill="#ffffff">
                                    <path d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z"/>
                                </svg> 
                                Wave Financial
                             
                            </h1>
                        </a>
                        <p class="mt-3 mb-4">В света на финансите иновациите и доверието вървят ръка за ръка. 
                            Wave Financial е вашият надежден партньор за постигане на финансова стабилност и устойчив растеж.</p>
                      
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Свържете се с нас</h3>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0">Експо2000, София, България
                                </p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">wave@financial.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+359 87 123 4567</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Бързи връзки</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="indexBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>Начало</a>
                                <a class="text-light mb-2" href="aboutBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>За нас</a>
                                <a class="text-light mb-2" href="serviceBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>Продукти и услуги</a>
                                <a class="text-light mb-2" href="contactBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>Свържете се с нас</a>
                             <!--   <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a> -->
                                <a class="text-light" href="registerBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>Станете клиент</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Кариери</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="openPositionsBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>Отворени позиции</a>
                                <a class="text-light mb-2" href="application-processBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>Процес на кандидатстване</a>
                                <a class="text-light mb-2" href="benefitsBG.html"><i class="bi bi-arrow-right text-primary me-2"></i>Нашите предимства</a>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6">
                    <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                        <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">2024 Wave Financial. Всички права са запазени. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>