<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave Financial</title>
    <link rel="stylesheet" href="/css/profile.css">
    <!-- Добавено: Favicon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23234659'><path d='M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z'/></svg>" type="image/svg+xml" />
</head>
<body>
    <div class="container">
        <div class="language-switch" id="language-switch">
            <button onclick="window.location.href='profileEN.html'">EN</button>
        </div>

        <img src="/img/logo1.png" alt="Лого" class="logo" id="logowf">
        <nav class="nav">
            <ul>
                <li><a href="#">Моя профил</a></li>
                <li><a href="myAccounts.html">Моите сметки</a></li>
                <li><a href="lastTransactions.html">Последни транзакции</a></li>
                <li><a href="/newProduct.html">Заяви нов продукт</a></li>
                <li><a href="/transfer.html">Трансфер</a></li>
            </ul>
        </nav>
        <div class="profile-content">
            <h2 id="title">Моя профил</h2>
            <div class="profile-pic">
                <img src="/img/user.png" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <p><strong>Име:</strong> Ивелина</p>
                <p><strong>Фамилия:</strong> Иванова</p>
                <p><strong>Клиентски номер:</strong> 123456</p>
                <p><strong>Имейл:</strong> iva@abv.bg</p>
            </div>
        </div>
        

    <div class="footer">
        <img src="/img/logo2.png" alt="e-Wave Financial" class="logo">
    </div>
    </div>
    <a href="indexBG.html" class="back-button">Обратно към Началната Страница</a>

</body>
</html>
