<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Регистрация</title>
     <!-- Добавено: Favicon -->
     <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23234659'><path d='M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z'/></svg>" type="image/svg+xml" />
   
</head>
<body>

    <a href="indexBG.html" class="back-button">Обратно към Началната Страница</a>

    <div class="container">
        <header>
            <div class="header-content">
                <img src="/img/logo1.png" alt="Лого" class="logo">
                <h1>Регистрация</h1>
                <div class="language-switch" id="language-switch">
                    <button onclick="window.location.href='registerEN.html'">EN</button>
                </div>
            </div>
        </header>

        <div class="progress-bar">
            <div class="step active" data-step="1" onclick="navigateStep(1)">
                <span>1</span>
                <p>Данни за клиента</p>
            </div>
            <div class="step inactive" data-step="2" onclick="navigateStep(2)">
                <span>2</span>
                <p>Идентификация</p>
            </div>
            <div class="step inactive" data-step="3" onclick="navigateStep(3)">
                <span>3</span>
                <p>Настройки за вход</p>
            </div>
            <div class="step inactive" data-step="4" onclick="navigateStep(4)">
                <span>4</span>
                <p>Потвърждение</p>
            </div>
        </div>

        <div class="registration-form" data-step="1">
            <h2>Въведете ЕГН</h2>
            <p>За да направите онлайн регистрация, е необходимо да имате навършени 18 години.</p>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="egn">ЕГН</label>
                    <input type="text" id="egn" name="egn" required pattern="\d{10}" 
                    title="ЕГН трябва да е точно 10 цифри"
                    placeholder="ЕГН">
                    <p id="errorsforinputs">
                        ЕГН трябва да е точно 10 цифри.
                    </p>
               
                </div>

                <div class="input-group">
                    <label for="egn">Име и Фамилия</label>
                    <input type="text" id="name" name="name" required placeholder="Име и фамилия">
                    <p id="errorsforinputs">
                        Името и фамилията са задължителни.
                    </p>
                </div>
                <div class="captcha">
                    <label>
                        <input type="checkbox" name="captcha" id="captcha">
                        Не съм робот
                    </label>
                </div>
                <button type="button" id="step1-button" class="login-button" disabled onclick="nextStep(2)">ПРОДЪЛЖИ</button>
            </form>
        </div>

        <div class="registration-form" data-step="2" style="display:none;">
            <h2>Идентификация</h2>
            <p>Моля, въведете допълнителна информация за идентификация.</p>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="id-number">Номер на лична карта</label>
                    <input type="text" id="id-number" name="id-number" required pattern="\d{9}" 
                    title="Номер на лична карта трябва да е точно 9 цифри"
                    placeholder="123456789">
                    <p id="errorsforinputs">
                        Номер на лична карта трябва да е точно 9 цифри.
                    </p>
               
                </div>
                <div class="input-group">
                    <label for="phone-number">Телефонен номер</label>
                    <input type="text" id="phone-number" name="phone-number" placeholder="+359 123456789"
                    required>
                    <p id="errorsforinputs">
                        Телефонният номер е задължителен.
                    </p>
                </div>
                <div class="input-group">
                    <label for="email">Имейл</label>
                    <input type="email" id="email" name="email" 
                    placeholder="Имейл"
                    required>
                    <p id="errorsforinputs">
                        Имейлът номер е задължителен.
                    </p>
                </div>
                <button type="button" id="step2-button" class="login-button" disabled onclick="nextStep(3)">ПРОДЪЛЖИ</button>
            </form>
        </div>

        <div class="registration-form" data-step="3" style="display:none;">
            <h2>Настройки за вход</h2>
            <p>Моля, създайте своите настройки за вход.</п>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="username">Потребителско име</label>
                    <input type="text" id="username" name="username"
                    placeholder="Потребителско име" required>
                    <p id="errorsforinputs">
                        Потребителскоto име е задължителенo.
                    </p>
                </div>
                <div class="input-group">
                    <label for="password">Парола</label>
                    <input type="password" id="password" name="password" 
                    placeholder="Парола"
                    required>
                    <p id="errorsforinputs">
                        Минимум 5 символа.
                    </p>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Потвърдете паролата</label>
                    <input type="password" id="confirm-password" name="confirm-password" 
                    placeholder="Потвърдете паролата"
                    required>
                    <p id="errorsforinputs">
                        Паролите трябва да съвпадат.
                    </p>
                </div>
                <button type="button" id="step3-button" class="login-button" disabled onclick="nextStep(4)">ПРОДЪЛЖИ</button>
            </form>
        </div>

        <div class="registration-form" data-step="4" style="display:none;">
            <h2>Потвърждение</h2>
            <p>Моля, прегледайте и потвърдете въведените данни.</p>
            <form action="#" method="POST" onsubmit="handleSubmit(event)">
                <div class="input-group">
                    <input type="checkbox" id="confirmation" name="confirmation" required>
                    <label id="confirmationLabel" for="confirmation">Потвърдете регистрацията</label>
                </div>
                <button type="submit" id="step4-button" class="login-button" disabled>ЗАВЪРШИ</button>
            </form>
        </div>

        <div class="footer">
            <img src="/img/logo2.png" alt="e-Wave Financial" class="logo">
        </div>
    </div>



    <script src="/js/registerBG.js"></script>

</body>
</html>
