
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/img/wave.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    max-width: 950px;
    max-height: 800px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; 

}

.nav {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: #0f3f52;
    font-weight: bold;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.profile-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    margin-bottom: 20px;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #000;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0f3f52;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #0c2d3a;
}

#title{
    color: #0c2d3a;
}

#logowf{
    width: 25%;
}

.product-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-option {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: background 0.3s;
    color: #0c2d3a;
    font-weight: bold;
    
}

.product-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.product-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.language-switch {
    position: absolute; 
    top: 10px;
    right: 10px;
}

.language-switch button {
    background: none;
    border: none;
    color: #09242F;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.language-switch button:hover {
    text-decoration: underline;
}