<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director Login</title>
    <link rel="stylesheet" href="/css/loginAsAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Добавено: Favicon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23234659'><path d='M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z'/></svg>" type="image/svg+xml" />
</head>
<body>

<a href="/" class="back-button">Back to Home Page</a>

<div class="login-container">
    <div class="header login-header">
        <img src="/img/admin.png" alt="admin" class="admin-img logo">
    </div>

    <h2>Login as DIRECTOR</h2>
    <form action="login_endpoint" class="login-form">
        <div class="input-container">
            <i class="fa-solid fa-user"></i>
            <input type="text" id="adminname" name="adminname" required placeholder="Director name">
        </div>
        <div class="input-container">
            <i class="fa-solid fa-lock"></i>
            <input id="adminpassinput" type="password" name="password" required placeholder="Password">
        </div>
        <div id="rememberbox" class="remember-me-container">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Remember me</label>
        </div>
        <button type="submit" class="login-button">Sign In</button>
    </form>

    <div class="footer login-footer">
        <img src="/img/logo2.png" alt="e-Wave Financial" class="logo-img e-logo">
    </div>
</div>
</body>
</html>
