<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave Financial</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23234659'><path d='M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z'/></svg>" type="image/svg+xml" />
</head>
<body>
<a th:href="@{/}" class="back-button">Back to Home Page</a>
<div class="login-container">
    <div class="language-switch">
        <a href="">BG</a>
    </div>
    <div class="login-header">
        <img src="/img/logo1.png" alt="Wave Financial" class="logo">
    </div>
    <div class="login-header">
        <img src="/img/logo2.png" alt="Wave Financial" class="e-logo">
        <span class="tagline">Login to Wave Financial</span>
    </div>
    <form th:action="@{/users/login}" th:method="post" th:object="${userLoginDTO}" class="login-form">
        <h3 th:if="${!isFound}" class="mt-5 text-center">
            <strong class="errorsforinputs">
                Wrong username and password combination.
            </strong>
        </h3>

        <i class="fa-solid fa-user"></i>
        <input th:field="*{username}" th:errorclass="bg-danger"
               type="text" id="username" name="username" placeholder="Username" required="true"
               maxlength="20" pattern="[a-zA-Z0-9]+" autocomplete="off"
               th:value="${session.username}" />
        <p class="errorsforinputs" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            Invalid username.
        </p>

        <i class="fa-solid fa-lock"></i>
        <input th:field="*{password}" th:errorclass="bg-danger"
               type="password" id="password" name="password" placeholder="Password" required="true"
               autocomplete="off" minlength="8" maxlength="20"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />

        <p class="errorsforinputs" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Invalid password.
        </p>

        <button type="submit" name="submit" class="login-button">LOGIN</button>
    </form>

    <div class="remember-me-container">
        <input type="checkbox" name="remember-me" id="saveme" value="Remember me">
        <label for="saveme">Remember me</label>
    </div>

    <div class="login-footer">
        <a href="/user/forgot-password" class="forgot-password-link">Forgot Password</a>
        <br>
        <a href="/security-tips" class="security-tips-link">Security Tips</a>
        <p><a th:href="@{/contact}">Contact us</a> | <a href="/terms">Terms of Use and Privacy</a></p>
    </div>
</div>
</body>
</html>
