<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
>

<head th:replace="fragments/commons::head">
</head>

<body>
<!-- Spinner Start -->
<div th:replace="fragments/commons::spinner"></div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div th:replace="fragments/commons::topbar"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a th:href="@{/}" class="navbar-brand p-0">
            <h1 class="m-0">
                <!-- Bank Icon SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#ffffff">
                    <path d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z"/>
                </svg>
                Wave Financial
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a th:href="@{/}" class="nav-item nav-link" th:text="#{nav_bar_home}">HOME</a>
                <a th:href="@{/about}" class="nav-item nav-link" th:text="#{nav_bar_about}">ABOUT US</a>
                <a th:href="@{/productAndService}" class="nav-item nav-link" th:text="#{nav_bar_service}">PRODUCTS AND
                    SERVICES</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" th:text="#{nav_bar_careers}">CAREERS</a>
                    <div class="dropdown-menu m-0">
                        <a th:href="@{/openPositions}" class="dropdown-item" th:text="#{nav_bar_position}">Open
                            Positions</a>
                        <a th:href="@{/applicationProcess}" class="dropdown-item" th:text="#{nav_bar_process}">Application
                            process</a>
                        <a th:href="@{/benefits}" class="dropdown-item" th:text="#{nav_bar_benefits}">Our Benefits</a>
                    </div>
                </div>
                <a th:href="@{/contact}" class="nav-item nav-link" th:text="#{nav_bar_contact}">CONTACTS</a>

                <th:block sec:authorize="!isAuthenticated()">
                    <a th:href="@{/users/register}" class="nav-item nav-link" th:text="#{nav_bar_become}">BECOME A
                        CLIENT</a>
                </th:block>
            </div>
            <button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                    class="fa fa-search"></i></button>

            <th:block sec:authorize="!isAuthenticated()">
                <a th:href="@{/users/login}" class="btn btn-primary py-2 px-4 ms-3" th:text="#{nav_bar_login}">LOGIN</a>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary py-2 px-4 ms-3"
                            th:text="#{nav_bar_logout}">LOGOUT
                    </button>
                </form>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/users/profile}" class="btn btn-primary py-2 px-4 ms-3"
                   th:text="#{nav_bar_profile}">PROFILE</a>
            </th:block>

            <th:block sec:authorize="isAuthenticated() and hasRole('DIRECTOR')">
                <a th:href="@{/director/dashboard}" class="btn btn-primary py-2 px-4 ms-3" th:text="#{nav_bar_director}">DIRECTOR</a>
            </th:block>

            <th:block sec:authorize="isAuthenticated() and hasRole('ADMIN')">
                <a th:href="@{/user/admin/login}" class="btn btn-primary py-2 px-4 ms-3"
                   th:text="#{nav_bar_admin}">ADMIN</a>
            </th:block>

            <!--  <a href="" class="btn btn-primary py-2 px-4 ms-3">BG</a> -->

            <form th:method="get">
                <label class="text-white" for="lang" th:text="#{nav_bar_language}">Language</label>
                <select
                        id="lang"
                        name="lang"
                        onchange="this.form.submit()">
                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                </select>
            </form>
        </div>
    </nav>

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn" th:text="#{open_position_title}">Open Positions</h1>
                <a th:href="@{/}" class="h5 text-white" th:text="#{open_position_home}">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white" th:text="#{open_position_title}">Open Positions</a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <!-- Blog list Start -->
            <div class="col-lg-8">
                <div class="row g-5">


                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" th:text="#{open_position_sys_admin}">SYSTEM ADMINISTRATOR</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_sys_admin_p}">Are you a skilled System Administrator looking for an exciting opportunity? Wave Financial is seeking talented professionals to help us maintain and enhance our IT infrastructure. Join our team and contribute to the seamless operation of innovative financial solutions. We offer a dynamic work environment with opportunities for growth and development.</p>

                                <!-- Apply Now Button -->
                                <th:block sec:authorize="isAuthenticated() and !hasRole('ADMIN') and principal.username != 'ivan'">
                                    <a class="text-uppercase" th:href="@{/job/apply}" th:text="#{open_position_apply}">Apply Now <i class="bi bi-arrow-right"></i></a>
                                </th:block>

                                <!-- Become a Client or Login Button -->
                                <th:block sec:authorize="!isAuthenticated()">
                                    <a class="text-uppercase" th:href="@{/users/register}">

                                        <i class="bi bi-arrow-right"  th:text="#{open_position_become}">

                                        </i>
                                    </a>
                                    <br>
                                    <a class="text-uppercase" th:href="@{/users/login}" >
                                        <i class="bi bi-arrow-right" th:text="#{open_position_login}">

                                        </i></a>
                                </th:block>

                                <!-- Delete Button for Admin -->
                                <th:block sec:authorize="hasRole('ADMIN')">
                                    <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                </th:block>

                            </div>
                        </div>
                    </div>




                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">

                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" th:text="#{open_position_app_admin}">APPLICATION ADMINISTRATOR</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p  th:text="#{open_position_app_admin_p}">Are you a skilled Application Administrator looking for an exciting opportunity? Wave Financial is seeking talented professionals to manage and optimize our application systems. Join our team and contribute to the seamless operation of innovative financial solutions. We offer a collaborative environment for success and growth.</p>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href=""  th:text="#{open_position_qa}">QA AUTOMATION ENGINEER</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_qa_p}">Are you a skilled QA Automation Engineer looking for an exciting opportunity? Wave Financial is seeking talented professionals to help us ensure the highest quality in our financial solutions. Join our team and contribute to innovative projects in the financial sector. We offer a collaborative environment for success.</p>
                                <!--
                                                                    <th:block th:if="${currentUser != null and currentUser.id != null}">
                                                                        <a class="text-uppercase" href="/applyForJob">Apply Now <i class="bi bi-arrow-right"></i></a>
                                                                    </th:block>
                                                                    <th:block th:if="${@currentUser.id == null}">
                                                                        <a class="text-uppercase" href="/applyForJob">BECOME A CLIENT<i class="bi bi-arrow-right"></i></a>
                                                                    </th:block>

                                                                    <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                -->
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="" th:text="#{open_position_security}">APPLICATION SECURITY ENGINEER</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_security_p}">Are you a skilled Application Security Engineer looking for an exciting opportunity? Wave Financial is seeking talented professionals to safeguard our application systems. Join our team and ensure the security and integrity of innovative financial solutions. We offer a collaborative environment for success. Your expertise will be vital in protecting...</p>

                                <!--    <a class="text-uppercase" href="">APPLY NOW <i class="bi bi-arrow-right"></i></a> -->
                                <!--        <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a> -->

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="" th:text="#{open_position_fullstack}">FULLSTACK DEVELOPER (ANGULAR & JAVA)</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_fullstack_p}">Are you a skilled Fullstack Developer with expertise in Angular and Java looking for an exciting opportunity? Wave Financial is seeking talented professionals to develop and maintain our cutting-edge financial solutions. Join our team and contribute to the creation of innovative financial products. We offer a collaborative environment for success.</p>

                                <!--
                                <a class="text-uppercase" href="">APPLY NOW <i class="bi bi-arrow-right"></i></a>
                                 <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                 -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="" th:text="#{open_position_cloud}">SENIOR CLOUD & DEVOPS ENGINEER</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_cloud_p}">Are you a skilled Senior Cloud & DevOps Engineer looking for an exciting opportunity? Wave Financial is seeking talented professionals to optimize our cloud infrastructure and streamline our DevOps processes. Join our team and drive the innovation of our financial solutions. We offer a collaborative environment for success.</p>

                                <!--
                                  <a class="text-uppercase" href="">APPLY NOW <i class="bi bi-arrow-right"></i></a>
                                  <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="" th:text="#{open_position_data}">
                                    Data Mapping Specialist</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_data_p}">Are you a skilled Data Mapping Specialist looking for an exciting opportunity? Wave Financial is seeking talented professionals to map and manage data across our financial systems. Join our team and ensure the accuracy and integrity of our data processes. We offer a collaborative environment for success.</p>
                                <!--
                                    <a class="text-uppercase" href="">APPLY NOW <i class="bi bi-arrow-right"></i></a>
                                    <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="" th:text="#{open_position_solution}">SOLUTION QA MANAGER</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_solution_p}">Are you a skilled Solution QA Manager looking for an exciting opportunity? Wave Financial is seeking talented professionals to lead and enhance our quality assurance processes across various solutions. Join our team and ensure the highest standards of quality in our innovative financial products. We offer a collaborative environment for success.</p>
                                <!--
                                    <a class="text-uppercase" href="">APPLY NOW <i class="bi bi-arrow-right"></i></a>
                                    <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="" th:text="#{open_position_sales}">SALES PROFESSIONAL</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_sales_p}">Are you a skilled Sales Professional looking for an exciting opportunity? Wave Financial is seeking talented professionals to drive our sales efforts and expand our client base. Join our team and contribute to the growth and success of our innovative financial solutions. We offer a collaborative environment for success.</p>

                                <!--
                                  <a class="text-uppercase" href="">APPLY NOW <i class="bi bi-arrow-right"></i></a>
                                  <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="img/offer-job2.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="" th:text="#{open_position_accountant}">Financial Accountant</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3" ><i class="fas fa-map-marker-alt text-primary me-2" ></i><span th:text="#{open_position_location}"></span></small>
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i><span th:text="#{open_position_date}"> </span></small>
                                </div>
                                <h4 class="mb-3"  th:text="#{open_position_join}">Join Wave Financial's Team</h4>
                                <p th:text="#{open_position_accountant_p}">Are you a skilled Financial Accountant looking for an exciting opportunity? Wave Financial is seeking talented professionals to manage and analyze our financial operations. Join our team and contribute to the financial health and success of our innovative solutions. We offer a collaborative environment for success.</p>

                                <!--
                                  <a class="text-uppercase" href="">APPLY NOW <i class="bi bi-arrow-right"></i></a>
                                  <a href="" class="btn btn-primary py-2 px-4 ms-3">Delete</a>
                                  -->
                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
                        <nav aria-label="Page navigation">
                          <ul class="pagination pagination-lg m-0">
                            <li class="page-item disabled">
                              <a class="page-link rounded-0" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                              </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link rounded-0" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                -->
                </div>
            </div>
            <!-- Blog list End -->


            <!-- Sidebar Start -->

            <div class="col-lg-4">
                <!-- Search Form Start -->
                <!--
              <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                  <div class="input-group">
                      <input type="text" class="form-control p-3" placeholder="Keyword">
                      <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                  </div>
              </div>
          -->
                <!-- Search Form End -->

                <!-- Category Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0" th:text="#{open_position_categories}">Categories</h3>
                    </div>
                    <div class="link-animated d-flex flex-column justify-content-start">
                        <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i><span th:text="#{open_position_categories_planning}">Financial Planning</span></a>
                        <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i><span th:text="#{open_position_categories_risk}">Risk Assessment</span></a>
                        <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i><span th:text="#{open_position_categories_web}">Web Development</span></a>
                        <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i><span th:text="#{open_position_categories_customer}">Customer Service</span></a>
                        <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i><span th:text="#{open_position_categories_loan}">Loan Services</span></a>
                    </div>
                </div>
                <!-- Category End -->

                <!-- Recent Post Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0" th:text="#{open_position_recent_post}">Recent Post</h3>
                    </div>
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img class="img-fluid" src="img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                        <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0" th:text="#{open_position_recent_post_1}">Top Strategies for Effective Financial Planning
                        </a>
                    </div>
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img class="img-fluid" src="img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                        <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0" th:text="#{open_position_recent_post_2}">How to Maximize Your Investment Returns
                        </a>
                    </div>
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img class="img-fluid" src="img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                        <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0" th:text="#{open_position_recent_post_3}">Understanding Risk Management in Banking
                        </a>
                    </div>
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img class="img-fluid" src="img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                        <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0" th:text="#{open_position_recent_post_4}">Regulatory Compliance: Best Practices for Financial Institutions
                        </a>
                    </div>
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img class="img-fluid" src="img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                        <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0" th:text="#{open_position_recent_post_5}">Enhancing Customer Service in Digital Banking
                        </a>
                    </div>
                    <div class="d-flex rounded overflow-hidden mb-3">
                        <img class="img-fluid" src="img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                        <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0" th:text="#{open_position_recent_post_6}">Innovative Loan Services for Modern Customers

                        </a>
                    </div>
                </div>
                <!-- Recent Post End -->

                <!-- Image Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <img src="img/blog-1.jpg" alt="" class="img-fluid rounded">
                </div>
                <!-- Image End -->

                <!-- Tags Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0" th:text="#{open_position_tag_cloud}">Tag Cloud</h3>
                    </div>
                    <div class="d-flex flex-wrap m-n1">
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_1}">Financial Planning</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_2}">Investment</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_3}">Risk Management</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_4}">Compliance</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_5}">Digital Banking</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_6}">Customer Service</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_7}">Loans</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_8}">Wealth Management</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_9}">Savings</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_10}">Credit</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_11}">Financial Advice</a>
                        <a href="" class="btn btn-light m-1" th:text="#{open_position_tag_cloud_12}">Online Banking
                        </a>
                    </div>
                </div>
                <!-- Tags End -->

                <!-- Plain Text Start -->
                <div class="wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0" th:text="#{open_position_commitment}">Our Commitment to You</h3>
                    </div>
                    <div class="bg-light text-center" style="padding: 30px;">
                        <p th:text="#{open_position_commitment_p}">At Wave Financial, we are dedicated to providing top-notch financial solutions tailored to your unique needs. Our team of experts is here to support you every step of the way, ensuring your financial success and peace of mind.</p>
                        <a href="" class="btn btn-primary py-2 px-4">Read More</a>
                    </div>
                </div>

                <br>


                <!--
                todo App admin add new positions
                <div class="wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0" th:text="#{open_position_admin}">Admin</h3>
                    </div>
                    <div class="bg-light text-center" style="padding: 30px;">
                        <p th:text="#{open_position_admin_add}">Add new position</p>
                        <a href="" class="btn btn-primary py-2 px-4" th:text="#{open_position_admin_add}">Add New Position</a>
                    </div>
                </div>
                -->

                <!-- Plain Text End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Blog End -->





<!-- Footer Start -->
<th:block th:replace="fragments/commons::footer">

</th:block>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>